<!DOCTYPE html>
<html lang="en" vocab="https://schema.org/"
	data-area="{{ siteArea }}"
	data-page="{{ page.url }}"
	data-inputpath="{{ page.inputPath | replace("./", "") }}"
	{{ 'class="post-page"' if is_post }}
>
<head>
	<meta charset="UTF-8">
	<title>{{ title }}{% if title %} &bull; {% endif %}Lea Verou</title>
	<link rel="shortcut icon" href="/mark.svg" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Lea Verou">

	{% if mavo %}
	<link rel="stylesheet" href="https://get.mavo.io/mavo.css">
	<script src="https://get.mavo.io/mavo.js"></script>
	{% endif %}

	{{ includes | safe }}
	<link rel="stylesheet" href="/assets/style.css">
	{% if page_css %}
	<link rel="stylesheet" href="{{ "style.css" if page_css == true else page_css }}">
	{% endif %}
	{{ includesEnd | safe }}
	<link rel="alternate" type="application/atom+xml" title="Lea Verou &bull; Feed" href="/feed.xml" />
	<script src="/assets/global.js" type="module"></script>

	{% if image %}
	<meta property="og:image" content="{{ image | absolutize(page.url) }}" />
	<meta name="twitter:image" content="{{ image | absolutize(page.url) }}" />
	{% endif %}
</head>
<body class="language-{{ defaultLanguage or "css" }} {{ body_classes }}">
{% import "_nav.njk" as nav with context %}
<header class="monitor-in-view">
	<div class="site-meta">
		<a href="/" class="site-logo">
			<img property="image" src="/mark.svg" alt="">
			<span class="site-title" title="Life at the bleeding edge (of the Web)">Lea Verou</span>
		</a>
		<div class="social gt-md">{% include "_social.njk" %}</div>
		<nav class="gt-md">{{ nav.render(nav_links) }}</nav>
		<a href="#nav" class="🍔 lt-md"><i class="bi bi-list"></i></a>
	</div>
	<div class="page-meta">
		{% if page.url and page.url !== "/" %}
			<h1>
				<span property="name">
					{% if heading %}
						{{ heading }}
					{% elseif title %}
						{{ title }}
					{% else %}
						Lea Verou
					{% endif %}
				</span>
			</h1>
		{% endif %}
		{% if is_post %}
		{% import "_posts.njk" as posts with context %}
		<div class="meta">
			{{ posts.meta_before(page) }}
		</div>
		{% endif %}
	</div>
</header>

<main>

{%- if draft -%}
<section class="info" style="--label: 'Here be dragons'">
	<strong>This is an unpublished draft.</strong> It may be incomplete, contain errors or be completely wrong.
	Please check back later for the finished version, or <a href="/feed.xml">subscribe</a> to my feed to be notified.
</section>
{%- endif %}

{% if toc %}
<aside id="toc">
	<h4>On this page</h4>
	{{ content | toc | safe }}

	<div class="broken-page-container">
		<h4>Something not working?</h4>
		{%- include "_broken-page.njk" -%}
	</div>
</aside>
{% endif %}

{{ content | safe }}

<footer>
	<div class="meta">
		{%- include "_broken-page.njk" -%}
		{% if is_post %}
			{% import "_posts.njk" as posts with context %}
			{{ posts.meta_after(page) }}
		{% else %}
			<a href="https://github.com/LeaVerou/lea.verou.me/edit/main{{ page.url }}index.md" class="metabit edit-page">Edit page on GitHub</a>
		{% endif %}
	</div>

	{% if is_post %}
		{% set previousPost = collections.blog | getCollectionItemIndex | prev_post(collections.blog) %}
		{% set nextPost = collections.blog | getCollectionItemIndex | next_post(collections.blog) %}
		{% if previousPost or nextPost %}
		<div class="prev-next">
			{% if previousPost %}<a href="{{ previousPost.url }}" class="prev">{{ previousPost.data.title }}</a>{% endif %}
			{% if nextPost %}<a href="{{ nextPost.url }}" class="next">{{ nextPost.data.title }}</a>{% endif %}
		</div>
		{% else %}
		NOTHING
		{% endif %}
	{% endif %}
</footer>

{%- include "_comments.njk" -%}

</main>

<footer>
	<section class="social">
		<h4>Social Me</h4>
		{%- include "_social.njk" -%}
	</section>
	<nav id="nav">
		<h4>About me</h4>
		{{ nav.render(nav_links, "footer") }}
	</nav>

	<small>
		<a href="/credits/#licensing" title="Licensing details" class="copyright">&copy;2009&ndash;{{ currentYear }} Lea Verou</a>
		<span class="credits">Powered by <a href="https://11ty.dev/">Eleventy</a>, <a href="https://netlify.com">Netlify</a>, and <a href="/credits/">more</a></span>
		<a href="#" class="to-top">
			<span class="long-text">To the top</span>
			<span class="short-text">Up</span>
			<span class="arrow" aria-hidden="true">↑</span>
		</a>
	</small>
</footer>

</body>
</html>
